
.header{
  background-color: red;
  margin-top: 0%;
  top: 0%;
  height: 7em;
}


.navbar{
  background-color: white;
  height: 8em;
  display: flex;
  justify-content: center;
  margin-left: -100px;
  z-index: 1000; 

}
.navbarContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 0px; 
}
.logo{
  height: 5em;
  width: 5em;
  margin-top: 1em;

}
.bottomtext{
  margin-top: 0px;
  letter-spacing: 2px;
  font-size: large;
}
.toptext{
  margin-bottom: 2px;
  font-size: larger;
  font-weight: bolder;
  letter-spacing: 5px;
}
.text{
  margin-top: 20px;
  gap: 100px;
  margin-left: 30px;

}
.rightSideComp{
  display: flex;
  gap:50px;
  font-size: large;
  margin-left: 500px;
  margin-top: 45px;
}
.nav-link {
  color: black;
  text-decoration: none;
}

.active-link,
.nav-link[href="/"]  {
  color: grey;
}
